@import "tailwindcss";

/* click user Button adjust */
.cl-avatarBox{
    height: 30px;
    width: 30px;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: red !important; /* dot color change */
  font-size: 12px !important;
}

@theme {
  --breakpoint-xs: 30rem;
}

@custom-variant dark (&:where(.dark,.dark *));